In [1]:
import pandas as pd
import numpy as np

In [5]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]

names2[0] = 'Alice'
names3[1] = 'Bob'

sum = 0
for ls in (names1, names2, names3):
    if ls[0] == 'Alice':
        sum += 1
        if ls[1] == 'Bob':
            sum += 10

print(sum)

2

In [6]:
names = ['Chris', 'Jack', 'John', 'Daman']

In [7]:
names[-1][-1]

'n'

In [9]:
weekdays = ['sun','mon','tue','wed','thu','fri','sat']
listAsTuple = tuple(weekdays)
print(listAsTuple)

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

In [10]:
df=pd.read_csv(r"C:\Users\RaviKiran\OneDrive\Desktop\Data Science\Data Sets\iris.csv")

In [11]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
X=df.drop(columns =['Species'])

In [16]:
Y=df['Species']

In [17]:
X_train,X_test,y_train,y_test =train_test_split(X,Y,test_size =0.3)

In [18]:
model=DecisionTreeClassifier()

In [20]:
model =model.fit(X_train,y_train)

In [21]:
pred =model.predict(X_test)

In [22]:
pred

array(['setosa', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'versicolor', 'setosa', 'versicolor', 'virginica', 'setosa',
       'setosa', 'virginica', 'virginica', 'setosa', 'virginica',
       'setosa', 'setosa', 'setosa', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'virginica', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'setosa', 'setosa', 'setosa',
       'versicolor', 'virginica', 'setosa', 'setosa', 'virginica',
       'versicolor', 'setosa', 'versicolor', 'setosa', 'virginica',
       'virginica', 'setosa', 'virginica', 'setosa', 'versicolor'],
      dtype=object)

In [23]:
accuracy =accuracy_score(pred,y_test)

In [24]:
accuracy

0.9555555555555556