# Map() Function in Python

map() this function takes two parameters first one is function and second one is iterable and returns an iterator that results from applying the a transformation function to every item in the original input variable

In [1]:
def even_or_odd(num):
    if (num % 2 == 0):
        return "The number is {} even number".format(num)
    else:
        return "The number is {} odd  number".format(num)

In [5]:
rk =(4,8,12,16,200,1,3,5,7,45,89,78,56,52,36)

In [6]:
map(even_or_odd,rk)

In [8]:
tuple(map(even_or_odd,rk))

('The number is 4 even number',
 'The number is 8 even number',
 'The number is 12 even number',
 'The number is 16 even number',
 'The number is 200 even number',
 'The number is 1 odd  number',
 'The number is 3 odd  number',
 'The number is 5 odd  number',
 'The number is 7 odd  number',
 'The number is 45 odd  number',
 'The number is 89 odd  number',
 'The number is 78 even number',
 'The number is 56 even number',
 'The number is 52 even number',
 'The number is 36 even number')

In [13]:
numbers =[1,22,33,44,55,66,77,88,99,101,12,144,155,178,198]
squared=[]
for i in numbers:
    squared.append(i**2)

In [14]:
squared

[1,
 484,
 1089,
 1936,
 3025,
 4356,
 5929,
 7744,
 9801,
 10201,
 144,
 20736,
 24025,
 31684,
 39204]

In [18]:
def square(num):
    return num ** 2;

In [19]:
map(square,numbers)

In [21]:
rk =list(map(square,numbers))

In [35]:
words =["ravi","kiran","konda","siva", "Satya","ravikiran.konda9999@gmail.com"]
sk =list(map(len,words))

In [36]:
sk

[4, 5, 5, 4, 5, 29]

In [38]:
squared_number =list(map(lambda i : i **2,sk))

In [39]:
squared_number

[16, 25, 25, 16, 25, 841]

# Iterators Vs  Iterables

In [40]:
import numpy as np

In [41]:
lst =np.arange(1,10)

In [42]:
lst

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [43]:
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9

In [44]:
type(lst)

numpy.ndarray

In [49]:
lst  =list(lst)

In [51]:
type(lst)

list

In [54]:
ls=iter(lst)

In [59]:
next(ls)

StopIteration:

In [58]:
for i in ls:
    print(i)

4
5
6
7
8
9