In [1]:
import pandas as pd
import numpy as np
import numpy as np

In [2]:
df=pd.read_csv(r"D:\Excel R Azure\day3 Assesment\learningML-2ec52ae3a295c52c404ecb7c51e67742f8aadc16\music.csv")

In [3]:
df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [4]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [5]:
df.mean()

age       27.944444
gender     0.500000
dtype: float64

In [6]:
df.var()

age       26.290850
gender     0.264706
dtype: float64

In [7]:
df.std()

age       5.127460
gender    0.514496
dtype: float64

In [8]:
df.describe(include =object)

            genre
count          18
unique          5
top     Classical
freq            6

In [9]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [10]:
X=df.drop(columns =['genre']);
Y =df['genre']

In [11]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size =0.2, random_state =42)

In [12]:
model =DecisionTreeClassifier()

In [13]:
model.fit(X_train,Y_train)

DecisionTreeClassifier()

In [14]:
predictions  =model.predict(X_test)

In [15]:
predictions

array(['HipHop', 'HipHop', 'Classical', 'Jazz'], dtype=object)

In [16]:
from sklearn.metrics import accuracy_score

In [17]:
score=accuracy_score(Y_test,predictions)

In [18]:
score

1.0

In [19]:
pip install joblib

Requirement already satisfied: joblib in c:\users\ravikiran\anaconda3\lib\site-packages (0.17.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -tatsmodels (c:\users\ravikiran\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\ravikiran\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\ravikiran\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\ravikiran\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\ravikiran\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\ravikiran\anaconda3\lib\site-packages)
WARNING: You are using pip version 21.3; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\RaviKiran\anaconda3\python.exe -m pip install --upgrade pip' command.

In [24]:
from sklearn import tree

In [ ]:
joblib.dump(model,"music_model.joblib")